In [5]:
from flask import Flask, render_template
import dash
import dash_html_components as html
import dash_core_components as dcc
import plotly.express as px
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [15]:
#creating multilinear regression model, phew uh oh
df = pd.read_csv('C:\\Users\\rutme\\Documents\\GitHub\\nowaste-project\\static\\csv\\allfinaldata.csv')
df.drop(columns=['Year'])
df

,Year,Borough,District Name,Borough ID,District Number,Food waste in tons,Population,Food Waste per person,Food waste per person in pounds,Median Household Income,...,Populationaged25withouthighschooldiploma,PercentagePopulationaged25withouthighschooldiploma,Income Diversity Index,Unemployment rate,PercentageUnemployment,RacialDiversityIndex,Poverty Rate,PercentagePoverty,Householdswithchildrenunder18yearsold,PercentageHouseholdswithchildrenunder18yearsold
0,2018,Manhattan,Financial District,1,1,173.8,151979,0.001144,2.287158,150600.7979,...,0.049312,4.93124,6.504854,0.036574,3.65743,0.445724,0.066248,6.62483,0.169700,16.9700
1,2018,Manhattan,Chelsea/Clinton,1,4,280.8,165452,0.001697,3.394338,102750.7469,...,0.048425,4.84253,9.651852,0.053144,5.31443,0.584941,0.111038,11.10380,0.114626,11.4626
2,2018,Manhattan,Stuyvesant Town/Turtle Bay,1,6,330.7,143582,0.002303,4.606427,137127.7231,...,0.026701,2.67013,8.042895,0.027413,2.74129,0.497315,0.078742,7.87418,0.101177,10.1177
3,2018,Manhattan,Upper West Side,1,7,288.9,191222,0.001511,3.021619,123835.5905,...,0.057776,5.77757,8.842105,0.050923,5.09233,0.499047,0.084594,8.45944,0.201193,20.1193
4,2018,Manhattan,Upper East Side,1,8,218.3,204469,0.001068,2.135287,123709.5409,...,0.020145,2.01448,5.553571,0.027460,2.74598,0.406150,0.054430,5.44296,0.159944,15.9944

In [8]:
#multilinear regression = mlr
mlr_y = df['Food waste per person in pounds']
mlr_x = df[['Income Diversity Index', 'RacialDiversityIndex', 'Poverty Rate']]

In [9]:
ml_regression = LinearRegression()
ml_regression.fit(mlr_x, mlr_y)

y_pred = ml_regression.predict(mlr_x)
y_pred

array([11.13587855,  3.33139953,  7.07435247,  4.14820526, 13.52353712,
       11.13669594,  5.78205458,  6.59621464,  3.8216367 , 10.60918547,
       23.32017492, 22.31978269, 11.20692743,  2.35669595, 11.93683851,
       20.21965073, 22.3653655 , 17.1379341 , 17.89046476,  7.52338433,
        7.65914597, 12.08719959,  2.53615663, 25.44670764, 22.61242073,
       19.58174506, 23.91424939, 24.9181954 , 29.47675343, 27.20091437,
       26.36052432, 16.49758414, 15.50804124])

In [10]:
print('Intercept: \n', ml_regression.intercept_)
print('Coefficients: \n', ml_regression.coef_)

Intercept:
 21.15629992163536
Coefficients:
 [ -3.49878164  33.34491193 -32.06095594]